:root {
	--glow-colour: #FFFFFF5F;
	--glow-offset: 1px;
	--shadow-colour: #000000;
	--shadow-offset: 0.1em;
}

a, details, header, li, p, span {
	color: #FFFFFF;
	font-family: "Noto Sans", sans-serif;
	text-shadow: var(--glow-offset) var(--glow-offset) 3px var(--glow-colour), var(--shadow-offset) var(--shadow-offset) 0.05em var(--shadow-colour);
}
a, span[onclick] {
	cursor: pointer;
	text-decoration: #FFFFFF underline dashed;
}
a:hover, span[onclick]:hover {
	--glow-colour: #FFFFFF;
}

body {
	background-image: linear-gradient(to left top, #00BF3F, #009FBF);
	background-repeat: no-repeat;
	height: 100vh;
	margin: 0;
	overflow-x: hidden;
}
main {
	align-items: center;
	display: flex;
	flex-flow: column nowrap;
	font-size: 1.25em;
	height: 100%;
	justify-content: center;
}
#desc, #tray-controls {
	margin: 0;
	text-align: center;
}

#desc {
	font-size: 1.5em;
}
del {
	text-decoration: line-through solid currentColor 0.05em;
}
.upside-down {
	--glow-offset: -1px;
	--shadow-offset: -0.1em;
	cursor: vertical-text;
	display: inline-block;
	transform: rotateZ(190deg);
}
#links {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
	font-size: 2.5em;
	height: 1.5em;
	margin: 0.5em 0;
}
#links > * {
	margin: 0 0.25em;
}
.icon {
	filter: drop-shadow(2px 2px 2px #000000BF) blur(0.5px);
	height: 1em;
	transition-duration: 0.5s;
	transition-property: height;
	transition-timing-function: ease-out;
}
.icon:hover {
	height: 1.5em;
}
#tray-controls {
	display: flex;
	flex-flow: column nowrap;
}
#tray-controls > * {
	margin-bottom: 0.5em;
}

aside {
	background-color: #FFFFFF1F;
	height: 100%;
	position: absolute;
	top: 0;
	transition-duration: 0.8s;
	transition-timing-function: ease-out;
	z-index: 1;
}

#left-tray {
	left: -20em;
	transition-property: left;
	width: 20em;
}
#left-tray > div {
	height: 95%;
	margin: 1em;
	overflow-y: auto;
}
#left-tray hr {
	margin-left: 0;
	width: 80%;
}
ul {
	padding-left: 1.5em;
}

#right-tray {
	right: -20em;
	padding: 0 1em 0 0;
	transition-property: right;
	width: 19em;
}
#right-tray > div {
	display: flex;
	flex-direction: column;
	height: 95%;
	margin: 0 0 0 1em;
	overflow-y: auto;
}
#right-tray header {
	margin: 0.5em 0;
}
#right-tray header, #right-tray summary, .proj-metadata {
	border-bottom: 1px solid #FFFFFF7F;
}
summary {
	cursor: pointer;
}
#my-projects {
	flex: 2;
}
#contrib-projects {
	flex: 3;
}
#right-tray > div > div {
	background-color: #0000001F;
	overflow-y: auto;
}
#right-tray details {
	padding-right: 0.25em;
}
#right-tray details:nth-child(odd) {
	background-color: #FFFFFF1F;
}
#right-tray details:nth-child(even) {
	background-color: #0000003F;
}
a[href^="https://github.com"] {
	--glow-colour: #FFFFFF7F;
	--shadow-colour: #171516;
	color: #171516;
}
a[href^="https://github.com"]:hover {
	--glow-colour: #FFFFFF;
}
a[href^="https://gitlab.com"] {
	--glow-colour: #FFFFFF3F;
	color: #FC6D26;
}
a[href^="https://gitlab.com"]:hover {
	--glow-colour: #E24329;
}

@media (prefers-reduced-motion) {
	/* animated background handled in JS */

	.icon {
		height: 1.25em;
		transition-duration: 0s;
	}
	.icon:hover {
		height: 1.25em;
	}

	aside {
		transition-duration: 0s;
	}
}
